<div class="container">
  <div class="footer">
      <div id="textFootleft">
        &copy; Sharron Page Stocks 2017
      </div>
      <div id="socialFoot">
        <a href="https://www.instagram.com/PageStocks"><img src="images/socialInsta.svg" alt="social"></img></a>
        <a href="https://www.twitter.com/PageStocks"><img src="images/socialTwitter.svg" alt="social"></img></a>
        <a href="mailto:sharron@dorandtan.com"><img src="images/socialEmail.svg" alt="social"></img></a>
      </div>
      <div id="textFootright">
        Site by DOR &amp; TAN
      </div>
  </div>
</div>
