<!-- Primary Page Layout
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <!-- fixed navigation bar -->
<div class="container">
<div class="header navbar">
  <div class="container nav-container">
    <div id = "logo"><a href="index.html"><h1>SPSC</h1></a></div>
    <div id="burger">
        <button class="nav-toggle">
          <span class="bar-top"></span>
          <span class="bar-mid"></span>
          <span class="bar-bot"></span>
        </button>
    </div>
  </div>
</div>

<nav class="mainNavShow mainNavHide" id="mainNav">
  <ul class="navbar-list">
    <li class="navbar-item"><a class="navbar-link" href="about.html"><h2>About</h2></a></li>
    <li class="navbar-item"><a class="navbar-link" href="https://dorandtan.com/collections/individual-collection-ss-17" target="_blank"><h2>Store</h2></a></li>
    <li class="navbar-item"><a class="navbar-link" href="studies.html"><h2>Studies</h2></a></li>
  </ul>
  <div id="socialMain">
    <a href="https://www.instagram.com/PageStocks"><img src="images/socialInsta.svg" alt="social"></img></a>
    <a href="https://www.twitter.com/PageStocks"><img src="images/socialTwitter.svg" alt="social"></img></a>
    <a href="mailto:sharron@dorandtan.com"><img src="images/socialEmail.svg" alt="social"></img></a>
  </div>
</nav>
</div>
